pi_hostname=""
pi_user_password=""

enable_ssh=true
create_ssh_key=true
disable_ssh_password=true

enable_wifi=true
wifi_country="GB"
wifi_ssid=""
wifi_psk=""

ethernet_fixed_ip=true
ethernet_fixed_ip_address="3.141.59.1"
ethernet_fixed_ip_routers=""
ethernet_fixed_ip_domain_name_servers="192.168.1.1"

# This requires fixed ethernet IP as well.
enable_bridging=true
bridging_fixed_ip_netmask="255.255.255.0"
bridging_dhcp_range="3.141.59.10,3.141.59.254,12h"
